header{
    background-image: url(img/pattern.png);
    background-size: 250px;
    height: 100px;
    background-color: rgb(135, 203, 255);
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo-Booleaner{
    margin: 2.08% 0;
    height: 50%;
    width: 300px;
    background-image: url(img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}