header{
    border: 1px solid white;
    background-image: url(img/pattern.png);
    background-size: 250px;
    height: 100px;
    background-color: rgb(119, 175, 212);
}

.main-container{
    max-width: 1000px;
    margin: 0 auto;
}

.logo-Booleaner{
    margin: 2.5% 0;
    height: 50%;
    width: 300px;
    background-image: url(img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

h1{
    margin-bottom: 0;
}

.article-info{
    font-size: 19px;
    color: lightslategray;
}

.author{
    color: rgb(81, 224, 228);
}

.data{
    font-size: 14px;
}

figure{
    margin: 20px 0 0;
}

.Tim-image-speech{
    height: 350px;
}

.Tim-image-front-row{
    height: 350px;
}

figcaption{
    font-size: 14px;
}

ul{
    list-style-position: inside;
    padding: 0;
  }